@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.navItem a{
    color: white;
    text-decoration: none;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: normal;
    line-height: 30px; 
    font-family: 'Montserrat', sans-serif;
}
.navItem a:hover{
    text-decoration: underline;
}