@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.Button{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:13vw;
    height: 3.4vw;
    background:#ddae57;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3vw;
    border:none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
}

